
    <div class="col ">
        <section class="bg-white ">
            <h4 class=" mb-3 ">
                Hi, Anna
            </h4>
            <p >Annacarinnagmail.com </p>
        </section>
        <p>Manage your profile</p>
        <section class="mb-3">
            <div class="btn-group dropend">
                <button routerLink="/MyProfile/Profile"  routerLinkActive="active-parent"  type="button" class="btn btn-light dropdown-toggle width" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-regular fa-user"></i> Profile
                </button>
            </div>
        </section>
        <section class="mb-3">
            <div class="btn-group dropend">
                <button routerLink="/MyProfile/Payment"  routerLinkActive="active-parent"  type="button" type="button" class="btn btn-light dropdown-toggle width" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-regular fa-credit-card"></i> Payment
                </button>
            </div>
        </section>
        <section class="mb-3">
            <div class="btn-group dropend">
                <button routerLink="/MyProfile/Security"  routerLinkActive="active-parent"  type="button" class="btn btn-light dropdown-toggle width" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-lock"></i> Security
                </button>
            </div>
        </section>
        <section class="mb-3">
            <div class="btn-group dropend">
                <button routerLink="/MyProfile/Settings"  routerLinkActive="active-parent"  type="button" class="btn btn-light dropdown-toggle width" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-gear"></i> Setting
                </button>
            </div>
        </section>

        <section class="mb-3">
            <div class="btn-group dropend">
                <button routerLink="/MyProfile/Help"  routerLinkActive="active-parent"  type="button" type="button" class="btn btn-light dropdown-toggle width" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-circle-question"></i> Help
                </button>
            </div>
        </section>

        <section class="bg-white">
            <button class="btn  btn-outline-none ">SignOut</button>
        </section>
    </div>
