<div class="container py-5">
    
    <div class="d-flex align-items-center justify-content-center "  >
    
        <div class="SignCard d-flex align-items-center justify-content-center shadow-5">
            <div style="width: 300px;" class="SignImage d-none d-lg-block">
            <img class="w-100 h-100" src="../../../../assets/Imgs/Login.jpg" alt="">
            </div>
    
            <div class="SignForm mx-2 px-4">
                <h2>Sign In</h2>
                <h6 class="alert-danger">{{Errormsg}}</h6>
                <form class="Signup-Form" (ngSubmit)="SubmitLoginForm()" [formGroup]="loginForm">
                <div>
                    <!-- <label for="email">Email: </label> -->
                    <input formControlName="email" type="email" class="form-control mb-2 input-mine" placeholder="Email Address">
                    <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert-danger">
                        <p class="m-0" *ngIf="loginForm.get('email')?.getError('required')">Email is required</p>
                        <p class="m-0" *ngIf="loginForm.get('email')?.getError('email')">Email format is invalid</p>      
                    </div>
                </div>
    
                <div>
                    <!-- <label for="Password">Password: </label> -->
                    <input formControlName="Password" type="password" class="form-control mb-2 input-mine" placeholder="Email Address">
            
                    <div *ngIf="loginForm.get('Password')?.errors && loginForm.get('Password')?.touched" class="alert-danger">
                        <p class="m-0" *ngIf="loginForm.get('Password')?.getError('required')">Password is required</p>      
                    </div>
                </div>
    
                <button [disabled] ="loginForm.invalid" type="submit" class="btn btn-success my-3 w-100">
                    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                    Login
                </button>
                <div class="text-center">
                    <p><span class="register" routerLink="/forgotpassword" style="color: #ad4c04;">Forgot password?</span></p>
                    <p>Don't Have An Account ? <span class="register" routerLink="/SignUp" style="color: #ad4c04;">Register Now!</span></p>
                </div>
                
                </form>
            </div>
        </div>
    </div>
</div>
    
