<footer class="d-flex flex-column align-items-center bg-light justify-content-cente p-5">
  <div class="row w-100">
    <div class="col-12 col-lg-3">
      <div class="w-100 w-lg-75" style="display: flex; justify-content: center">
        <div class="logo-width">
          <img class="w-100" src="../../../assets/Imgs/web logo.png" />
        </div>
      </div>
      <div class="d-flex py-3 w-100 w-lg-75 justify-content-center">
        <i class="fa-brands fa-facebook-f px-3"></i>
        <i class="fa-solid fa-message px-3"></i>
        <i class="fa-brands fa-twitter px-3"></i>
        <i class="fa-brands fa-youtube px-3"></i>
      </div>
    </div>



    <div class="col-12 col-lg-2 my-3 my-lg-0">
      <h4 style="font-weight: 500 ; width: fit-content;" class="mx-auto">Our Pages</h4>
      <div class="d-flex flex-column mx-auto text-center" style="width: fit-content;">
        <h6 routerLink="/Home" style="cursor: pointer;">Home</h6>
        <h6 routerLink="/About" style="cursor: pointer;">About Us</h6>
        <h6 routerLink="/Contact" style="cursor: pointer;">Contact Us</h6>
        <h6 routerLink="" style="cursor: pointer;">Terms Of Services</h6>
        <h6 routerLink="" style="cursor: pointer;">Privacy policy</h6>
      </div>
    </div>

<hr class="d-block d-lg-none"/>

    <div class="col-12 col-lg-2 mx-auto" style="width: fit-content;" >
      <h4 style="font-weight: 500" class="mx-auto">Sevices</h4>
      <div class="d-flex flex-column mx-auto text-center">
        <h6 routerLink="/Places" style="cursor: pointer;">Places</h6>
        <h6 routerLink="Booking" style="cursor: pointer;">Booking</h6>
        <h6 routerLink="" style="cursor: pointer;">Payments</h6>
        <h6 routerLink="" style="cursor: pointer;"></h6>
        <h6 routerLink="" style="cursor: pointer;"></h6>
      </div>
    </div>

    <hr class="d-block d-lg-none"/>

    <div class="col-12 col-lg-4">
      <div class="d-flex align-center mx-auto" style="width: fit-content;">
        <i class="fa-regular fa-envelope px-2" style="font-size: 24px"></i>
        <h6>Stay up to date on the latest from Evently</h6>
      </div>

      <form style="width: 250px;" class="mx-auto">
        <input
          type="email"
          class="my-2 form-control mb-2 input-mine"
          placeholder="Enter Your Email"
        />
        <button class="btn Evently-btn">Submit</button>
      </form>
      <!--       
      <div>
        <button type="button" class="btn btn-primary">
          <img class="w-100" src="./imgs/fb.png" alt="">
        </button>
        <button type="button" class="btn btn-primary">
          <img class="w-100" src="./imgs/twitter.png" alt="">
        </button>
        <button type="button" class="btn btn-primary">
          <img class="w-100" src="./imgs/instagram.png" alt="">
        </button>
        <button type="button" class="btn btn-primary">
          <img class="w-100" src="./imgs/linkedin.png" alt="">
        </button>
      </div> -->
    </div>
  </div>
</footer>
