<div class="container my-5 p-3 shadow col">
    <div class="col ">
        <section class="bg-white ">
            <h4 class=" mb-3 fw-bold ">
                Settings
            </h4>
        </section>
        <h4 class=" fw-bold ">Sign-in and security</h4>
        <p>Keep your account safe with a secure password and by signing out of devices you're not actively using.</p>
        <section class="mb-3 w-100">
            <div class="btn-group dropend">
                <button routerLink="/MyProfile/Profile" routerLinkActive="active-parent" type="button"
                    class="btn border-black  dropdown-toggle width" data-bs-toggle="dropdown" aria-expanded="false">
                    Email
                </button>
            </div>
        </section>
        <section class="mb-3">
            <div class="btn-group dropend">
                <button routerLink="/MyProfile/Payment" routerLinkActive="active-parent" type="button" type="button"
                    class="btn  border-black dropdown-toggle width" data-bs-toggle="dropdown" aria-expanded="false">
                    Change Password
                </button>
            </div>
        </section>
        <h4 class="mb-3 fw-bold ">Account management</h4>
        <p>Control other options to manage your data, like deleting your account.</p>
        <section class="mb-3 w-100">
            <div class="btn-group dropend">
                <button routerLink="/MyProfile/Profile" routerLinkActive="active-parent" type="button"
                    class="btn border-black  dropdown-toggle width" data-bs-toggle="dropdown" aria-expanded="false">
                    Data Control
                </button>
            </div>
        </section>

        <section class="mb-3 ">
            <button class="btn text-primary fw-bold btn-outline-none ">Delete Account</button>
        </section>
    </div>
</div>