<!--Customer Service-->
<div
  class="container my-5 shadow p-sm-2 p-md-4 p-lg-5 col-lg-10 col-md-8 col-sm-9"
>
  <article>
    <h4 class="text-danger mb-3">
      Customer Service <i class="fas fa-headphones fa-sm fa-fw"></i>
    </h4>
    <p>How can we help? We're available 24 hours a day.</p>
  </article>
  <!-- 3 contact cards-->
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-3 g-4">
      <div class="col">
        <div class="card p-2 h-100 hoverable">
          <div class="row g-0">
            <div class="col-1 d-flex align-items-center mx-1">
              <img
                src="../../../assets/Imgs/telephone_126523.png"
                class="card-img-top img-fluid"
                alt="Card title"
                style="max-width: 100px"
              />
            </div>
            <div class="col">
              <div class="card-body d-flex flex-column justify-content-between">
                <h4 class="card-title">Call Us</h4>
                <p class="card-text">
                  For anything urgent, you can call us 24/7 at a local or
                  international phone number.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card p-2 h-100 hoverable">
          <div class="row g-0">
            <div class="col-1 d-flex align-items-center mx-1">
              <img
                src="../../../assets/Imgs/message_3034022.png"
                class="card-img-top img-fluid"
                alt="Card title"
                style="max-width: 100px"
              />
            </div>
            <div class="col">
              <div class="card-body d-flex flex-column justify-content-between">
                <h4 class="card-title">Send Us A Message</h4>
                <p class="card-text">
                  Contact our agents about your booking, and we'll reply as soon
                  as possible.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card p-2 h-100 hoverable">
          <div class="row g-0">
            <div class="col-1 d-flex align-items-center mx-1">
              <img
                src="../../../assets/Imgs/skyline_269947.png"
                class="card-img-top img-fluid"
                alt="Card title"
                style="max-width: 100px"
              />
            </div>
            <div class="col">
              <div class="card-body d-flex flex-column justify-content-between">
                <h4 class="card-title">Contact The Property</h4>
                <p class="card-text">
                  For details about your stay, they usually know best.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-danger rounded m-2">
    Go To Help Center
  </button>
</div>
<!--end of Customer Service-->

<!--Help Center-->
<div
  class="container my-5 shadow p-sm-2 p-md-4 p-lg-5 col-lg-10 col-md-8 col-sm-9"
>
  <h4 class="text-start text-danger mb-3">
    Our Help Center is Here to Assist You!
    <i class="fas fa-hands-helping fa-md fa-fw"></i>
  </h4>

  <div class="d-flex flex-column flex-wrap gap-2">
    <article class="my-1 border-bottom hoverable">
      <h5>Tailor-made Customer Service</h5>
      <p>
        Tell us what's happening and we'll guide you through what to do next.
      </p>
    </article>
    <article class="my-1 border-bottom hoverable">
      <h5>Contact us anytime</h5>
      <p>
        Send us a message or pick up the phone, our agents are always available
      </p>
    </article>
    <article class="my-1 border-bottom hoverable">
      <h5>All the important things in one place</h5>
      <p>
        Call or message the property, and see all the essential information
        about your stay.
      </p>
    </article>
  </div>
</div>
<!--end of help center-->

<!--Frequently asked questions-->
<div
  class="faq container my-5 shadow p-sm-2 p-md-4 p-lg-5 col-lg-10 col-md-8 col-sm-9"
>
  <h4 class="text-start text-danger mb-3">
    Frequently Asked Questions
    <i class="fas fa-question-circle fa-sm fa-fw"></i>
  </h4>

  <!--accordion 1-->
  <div class="accordion accordion-flush border" id="accordion1">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed fw-semibold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="true"
          aria-controls="flush-collapseOne"
        >
          Can I cancel my booking?
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordion1"
      >
        <div class="accordion-body">
          This is the first item's accordion body.
        </div>
      </div>
    </div>
  </div>
  <!--accordion 2-->
  <div class="accordion accordion-flush border" id="accordion2">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button
          class="accordion-button collapsed fw-semibold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="true"
          aria-controls="flush-collapseTwo"
        >
          If I need to cancel my booking will I pay a fee?
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordion2"
      >
        <div class="accordion-body">
          This is the first item's accordion body.
        </div>
      </div>
    </div>
  </div>
  <!--accordion 3-->
  <div class="accordion accordion-flush border" id="accordion3">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button
          class="accordion-button collapsed fw-semibold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="true"
          aria-controls="flush-collapseThree"
        >
          Who's going to charge my credit card and when?
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingThree"
        data-bs-parent="#accordion3"
      >
        <div class="accordion-body">
          This is the first item's accordion body.
        </div>
      </div>
    </div>
  </div>
  <!--accordion 4-->
  <div class="accordion accordion-flush border" id="accordion4">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button
          class="accordion-button collapsed fw-semibold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour"
          aria-expanded="true"
          aria-controls="flush-collapseFour"
        >
          Can I make changes to my booking (i.e. change dates)?
        </button>
      </h2>
      <div
        id="flush-collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingFour"
        data-bs-parent="#accordion4"
      >
        <div class="accordion-body">
          This is the first item's accordion body.
        </div>
      </div>
    </div>
  </div>
  <!--accordion 5-->
  <div class="accordion accordion-flush border" id="accordion5">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button
          class="accordion-button collapsed fw-semibold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFive"
          aria-expanded="true"
          aria-controls="flush-collapseFive"
        >
          I can't find my confirmation email. What should I do?
        </button>
      </h2>
      <div
        id="flush-collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingFive"
        data-bs-parent="#accordion5"
      >
        <div class="accordion-body">
          This is the first item's accordion body.
        </div>
      </div>
    </div>
  </div>
  <!--accordion 6-->
  <div class="accordion accordion-flush border" id="accordion6">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button
          class="accordion-button collapsed fw-semibold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSix"
          aria-expanded="true"
          aria-controls="flush-collapseSix"
        >
          Can I make a reservation without a credit card?
        </button>
      </h2>
      <div
        id="flush-collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingSix"
        data-bs-parent="#accordion6"
      >
        <div class="accordion-body">
          This is the first item's accordion body.
        </div>
      </div>
    </div>
  </div>
  <!--accordion 7-->
  <div class="accordion accordion-flush border" id="accordion7">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button
          class="accordion-button collapsed fw-semibold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSeven"
          aria-expanded="true"
          aria-controls="flush-collapseSeven"
        >
          Why was I charged?
        </button>
      </h2>
      <div
        id="flush-collapseSeven"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingSeven"
        data-bs-parent="#accordion7"
      >
        <div class="accordion-body">
          This is the first item's accordion body.
        </div>
      </div>
    </div>
  </div>
  <!--accordion 8-->
  <div class="accordion accordion-flush border" id="accordion8">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingEight">
        <button
          class="accordion-button collapsed fw-semibold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseEight"
          aria-expanded="true"
          aria-controls="flush-collapseEight"
        >
          How do I find out if properties allow pets?
        </button>
      </h2>
      <div
        id="flush-collapseEight"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingEight"
        data-bs-parent="#accordion8"
      >
        <div class="accordion-body">
          This is the first item's accordion body.
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of FAQ-->
