  <nav class="navbar navbar-expand-lg N-border">
    <div class="container">
      <div class="navbar-brand logo-width">
        <img class="w-100" src="../../../assets/Imgs/web logo.png" />
      </div>

      <!-- in mobile -->
      <button
        class="navbar-toggler btn-pro"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <i class="fa-solid fa-bars mx-2"></i>
      <i class="fa-solid fa-user mx-2"></i>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- in large screen -->
        <div class="d-none d-lg-flex" style="width: 100%;">
                <!-- Navbar Link -->
       <div style="flex-grow: 1;">
        <div  class=" me-auto mb-lg-0  d-flex justify-content-center">
          <button
            class="btn Evently-btn btn-rounded mx-2"
            routerLinkActive="Evently-btn"
            routerLink="Home" mdbRipple rippleColor="dark"
          >
            Home
          </button>
          <button
            class="btn Evently-btn btn-rounded mx-2"
            routerLinkActive="Evently-btn"
            routerLink="About" mdbRipple rippleColor="dark"
          >
            About us
          </button>
         <button
            class="btn Evently-btn btn-rounded mx-2"
            routerLinkActive="Evently-btn"
            routerLink="ContactUs" mdbRipple rippleColor="dark"
          >
            Contact us
          </button>
        </div>
       </div>
  
        <!-- only for larg screen -->
        <div style="position: relative" class="d-none d-lg-block">
          <button class="btn-pro" (click)="toggleMenu()">
            <i class="fa-solid fa-bars mx-2"></i>
            <i class="fa-solid fa-user mx-2"></i>
          </button>
  
          <!-- Menu List In Large Screen -->
          <div class="drop-list" *ngIf="isMenuOpen == true">
            <!-- For Sign Up -->
            <div
              *ngIf="isUser == false"
              style="
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid gray;
              "
            >
              <button
                class="btn list-hover"
                (click)="toggleMenu()"
                routerLink="SignUp"
              >
                Sign Up
              </button>
              <button
                class="btn list-hover"
                (click)="toggleMenu()"
                routerLink="Login"
              >
                Log in
              </button>
            </div>
  
            <!-- For User -->
            <div
              *ngIf="isUser == true && userData"
              style="display: flex; flex-direction: column"
            >
              <button class="btn list-hover c-btn" (click)="toggleMenu()" routerLink="MyProfile">
                <span>Profile</span>
              </button>
              <button *ngIf="userData.RoleName == 'Client'" class="btn list-hover c-btn" (click)="toggleMenu()" [routerLink]="['Wishlist' , userData.Id]">
                <span>WishList</span>  
              </button>
              <button *ngIf="userData.RoleName == 'Client'" class="btn list-hover c-btn" (click)="toggleMenu()" routerLink="MyBooking">
                <span>Booking</span>
              </button>
              <button *ngIf="userData.RoleName == 'Host'" class="btn list-hover c-btn" (click)="toggleMenu()" routerLink="AddPlace">
                <span>Add New Place</span>
              </button>
              <button *ngIf="userData.RoleName == 'Host'" class="btn list-hover c-btn" (click)="toggleMenu()" routerLink="MyPlaces">
                <span>My Places</span>
              </button>
              <button 
              (click)="logout()"
              class="btn list-hover" (click)="toggleMenu()" routerLink="">
                <span>Logout</span>
              </button>
            </div>
  
          </div>
        </div>
        </div>
  
      <!-- in mobile screen -->
      <div class="d-flex justify-content-center align-items-center flex-column d-lg-none" style="width: 100%;">
        <!-- Navbar Link -->
  <div class="mx-5 d-flex d-md-block">
  <button
    class="btn btn-outline-none mx-2"
    routerLinkActive="btn-success"
    routerLink="Home"
  >
    Home
  </button>
  <button
    class="btn btn-outline-none mx-2"
    routerLinkActive="btn-success"
    routerLink="About"
  >
    About us
  </button>
  <button
    class="btn btn-outline-none mx-2"
    routerLinkActive="btn-success"
    routerLink="ContactUs"
  >
    Contact us
  </button>
  </div>
  
           <!-- For Sign Up -->
           <div
           *ngIf="isUser == false"
           style="
             display: flex;
           "
         >
           <button
             class="btn list-hover"
             (click)="toggleMenu()"
             routerLink="SignUp"
           >
             Sign Up
           </button>
           <button
             class="btn list-hover"
             (click)="toggleMenu()"
             routerLink="Login"
           >
             Log in
           </button>
         </div>

         <!-- For User -->
         <div
           *ngIf="isUser == true && userData"
           style="display: flex;"
           class="mt-3"
         >
           <button class="btn list-hover c-btn mx-2" (click)="toggleMenu()" routerLink="MyProfile">
            <i class="fa-solid fa-user Nav-icons"></i>     
                </button>
           <button *ngIf="userData.RoleName == 'Client'" class="btn list-hover c-btn mx-2" (click)="toggleMenu()" [routerLink]="['Wishlist' , userData.Id]">
            <i class="fa-solid fa-heart Nav-icons"></i>       
              </button>
           <button *ngIf="userData.RoleName == 'Client'" class="btn list-hover c-btn mx-2" (click)="toggleMenu()" routerLink="Booking">
            <i class="fa-solid fa-calendar-days Nav-icons"></i>    
                 </button>
           <!-- <button *ngIf="userData.RoleName == 'Host'" class="btn list-hover c-btn" (click)="toggleMenu()" routerLink="Booking">
             <span>Add New Place</span>
           </button> -->
           <button *ngIf="userData.RoleName == 'Host'" class="btn list-hover c-btn mx-2" (click)="toggleMenu()" routerLink="Booking">
            <i class="fa-solid fa-location-dot Nav-icons"></i>           
           </button>
         </div>
 
  </div>
  
  
      </div>
    </div>
  </nav>





