.logo-width{
    width: 80px;
}

.l-border{
    position: sticky;
    top: 0; 
    left: 0; 
    z-index: 1000; 
    width: 100%; 
    background-color: #fff ;

    @media screen and (max-width: 991px) {
        position: static;
    }

}

.N-border{
    /* border-bottom: 1px solid gray; */

}

.seach-input{
    border-radius: 20px;
    box-shadow: 2px 2px 5px #888888;
}

.btn-r{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}


.p-search{
    position: absolute;
    right: 15px;
    top: 7px;
}

.btn-pro{
    border: 1px solid gray;
    background-color: transparent;
    padding: 5px;
    border-radius: 20px;
    transition: 0.5s;
}

.btn-pro:hover{
    box-shadow: 2px 2px 5px #888888;
}
/* 
.Active-btn{
    
} */


.drop-list{
position: absolute ;
right: 0px;
top: 50px;
width: 200px;
height: fit-content;
background-color: #ffff;
box-shadow: 2px 2px 5px #888888;
border-radius: 10px;
z-index: 10000;
}

.Evently-btn {
    background-color: #ad4c04; /* Bootstrap primary color */
    border-color: #9a4504; /* Border color */
    color: #fff; /* Text color */
  }


.c-btn:hover{


background-color: #EEEE;

}
   

.Nav-icons{
    font-size: 30px;
}