<!--header-->
<div class="container ps-4 pe-4">
<div class="card card shadow mb-3 mt-3">
  <div class="card-body ">
    <div class="text-center mt-2">
      <i class="fa-solid fa-star fs-6"></i>
      <i class="fa-solid fa-star fs-4"></i>
      <i class="fa-solid fa-star fs-2"></i>
      <i class="fa-solid fa-star fs-4"></i>
      <i class="fa-solid fa-star fs-6 "></i>
    </div>

    <h2 class="text-center fw-bold fs-3 mt-3">Booking Confirmed!</h2>
  </div>
</div>
<!--body-->

<div class="card card shadow">
  <div class="card-body">
    <p class="fs-6 fw-normal">We are pleased to inform you that your reservation request have been received and confirmed. <br>
      Contact Evently if you want to change any basic information with 1385 booking number
    </p>
  </div>
</div>
<!--image-->
<div class="background-image">
  <div class="overlay">
  <p class="fs-4 fw-light d-flex flex-start">Booking No. 1385 Details</p>
  <p class="fs-6 fw-lighter d-flex flex-start">Check your information here!</p>
  </div>
</div>
<!--booking details-->

<p class="d-flex text-start fw-normal fs-4 mt-2">Booking Details</p>
<table class="table table-bordered">
<thead >
  <tr class="text-bg-secondary text-light text-center">
  <th>period</th>
  <th>place name</th>
  <th>category</th>
  <th>date</th>
  <th>location</th>
  <th>size</th>
</tr>
</thead>
<tbody class=" text-center">
  <tr>
    <td>Night</td>
    <td>palme</td>
    <td>Birthday</td>
    <td>16 Feb 2024</td>
    <td>Alexandria, Egypt</td>
    <td>50 person</td>
  </tr>
</tbody>
</table>
<p class="text-center fw-bold bt-2 mb-2">Additional Service Quantity <span class="fw-lighter">None</span></p>
<!--cancelation-->

<div class="card card shadow mb-3 mt-3 lh-sm">
  <div class="card-body ">
    <h2 class="d-flex text-start fw-bold fs-5">Cancelation Policy</h2>
    <p class="d-flex text-start fw-light fs-6">pay attention!</p>
    <p class="d-flex text-start fw-normal fs-6">This booking represent the conclusive steps in hotel reservation process. it is considered final area and may only be considered by the hotel in the event of unforeseen circumstances or natural disasters.</p>
  </div>
</div>
</div>
