<div class="d-flex flex-column min-vh-90 justify-content-center">
  <div class="container p-3">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-5 col-sm-10">
        <div class="card rounded shadow mb-3 mx-auto">
          <div class="card-body text-center p-4 p-sm-5">
            <h4 class="card-title text p-sm-4">Create New Password</h4>
            <p class="card-text fw-semibold">
              Enter your new password and confirm it below.
            </p>

            <form [formGroup]="NewPassForm" (ngSubmit)="onSubmit(NewPassForm)">
              <div class="container">
                <div class="p-sm-2 text-start">
                  <label for="password" class="form-label">New Password</label>
                  <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    placeholder="Enter new password"
                  />
                  <small class="text-danger" *ngIf="NewPassForm.get('password')?.errors?.['required']">
                    Password is required
                  </small><br>
                  <small class="text-danger" *ngIf="NewPassForm.get('password')?.errors?.['pattern']">
                    Password must be strong: uppercase, lowercase, number, and special character
                  </small>
                </div>

                <div class="p-sm-2 text-start">
                  <label for="confirm_password" class="form-label"
                    >Confirm New Password</label
                  >
                  <input
                    formControlName="confirm_password"
                    type="password"
                    class="form-control"
                    name="confirm_password"
                    id="confirm_password"
                    placeholder="Repeat new password"
                  />
                  <small class="text-danger" *ngIf="NewPassForm.get('confirm_password')?.errors?.['required']">
                    Confirming Password is required
                  </small><br>
                </div>

                <button
                  type="submit"
                  class="btn btn-lg rounded-pill btn-danger mt-3"
                  [disabled]="!NewPassForm.valid"
                >
                  Update Password
                </button>
              </div>
            </form>

            <article class="mt-2">
              <span>Or</span><br />
              <div class="text-center">
                <span>Sign in with another account</span>
                <a class="text-decoration-none" routerLink="../Login">
                  Sign In <i class="fa fa-sign-in" aria-hidden="true"></i>
                </a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
