<!--header start-->
<!-- <div class="container mt-5 ">
<div class= "row">
  <h2 >Radisson Blu <i class="fa-regular fa-heart me-2 w-30"></i> <i class="fa-solid fa-share me-2 w-30"></i></h2>
</div>
</div> -->
<!--header end-->
<!--image start-->

<div class="container my-4">
  <div class="title">
    <h2>Lorem ipsum dolor sit amet consectetur</h2>
  </div>

  <div class="row img-grid">
    <div class="col-12 col-lg-6 p-1">
      <div class="w-100 h-100">
        <img
          class="w-100 h-100 Image"
          src="../../../../assets/Imgs/Hero3.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="col-3 p-1 d-none d-lg-block">
      <div class="h-100">
        <div class="w-100 mb-2" style="height: 49%">
          <img
            class="w-100 h-100 Image"
            src="../../../../assets/Imgs/Hero3.jpg"
            alt=""
          />
        </div>
        <div class="w-100" style="height: 49%">
          <img
            class="w-100 h-100 Image"
            src="../../../../assets/Imgs/Hero3.jpg"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="col-3 p-1 d-none d-lg-block">
      <div class="h-100">
        <div class="w-100 mb-2" style="height: 49%">
          <img
            class="w-100 h-100 Image"
            src="../../../../assets/Imgs/Hero3.jpg"
            alt=""
          />
        </div>
        <div class="w-100" style="height: 49%">
          <img
            class="w-100 h-100 Image"
            src="../../../../assets/Imgs/Hero3.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!--image end-->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <div>
        <h3>Place Details</h3>
        <p class="fw-semibold lh-sm d-flex justify-content-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          suscipit ipsum, in repudiandae omnis, iste necessitatibus recusandae
          optio, aspernatur nemo aperiam sint odit quae! Fugiat dolor amet nemo
          debitis dolores?
        </p>
        <p class="fw-semibold lh-sm d-flex justify-content-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          suscipit ipsum, in repudiandae omnis, iste necessitatibus recusandae
          optio, aspernatur nemo aperiam
        </p>
      </div>
    </div>

    <div class="col-md-4 card-container">
      <div style="flex-grow: 1" class="d-none d-lg-flex"></div>
      <div class="card border-dark card shadow" style="max-width: 20rem">
        <div class="card-header">Price: 120$</div>
        <div class="card-body">
          <p class="card-title fw-semibold">Available in: 2/4/2024</p>
          <hr />
          <p class="card-text fw-semibold">
            Total: 100$ 10% Off includes taxes and charges
          </p>
          <hr />
          <div
            class="card-body d-flex justify-content-center align-items-center"
          >
            <button class="btn btn-success">Reserve</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--details end-->
