<div class="modal background no-scroll" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filter Places</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="CloseFilter()"></button>
      </div>
      <div class="modal-body">
        <!-- Form for filtration -->
        <form>
          <div class="mb-3">
            <label for="location" class="form-label">Location:</label>
            <input type="text" class="form-control" id="location" placeholder="Enter Place location" #locationInput>
          </div>
          <div class="mb-3">
            <label for="capacity" class="form-label">Capacity:</label>
            <input type="number" class="form-control" id="capacity" placeholder="Enter Capacity" #capacityInput>
          </div>
          <div class="mb-3">
            <label for="Category" class="form-label">Category:</label>
            <input type="text" class="form-control" id="Category" placeholder="Enter Category" #categoryInput>
          </div>
          <!-- <div class="mb-3" >
            <div (click)="toggleSelect()">
              <select id="categories" multiple [class.open]="isSelectOpen" (change)="onSelect($event)">
                <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
              </select>
            </div>
          </div> -->




          <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input type="number" class="form-control" id="price" placeholder="Enter Price" #priceInput>
          </div>
          <div class="mb-3">
            <label for="rate" class="form-label">Rate:</label>
            <input type="number" class="form-control" id="rate" placeholder="Enter Rate" #rateInput>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="applyFilters(
    locationInput.value ? locationInput.value : '',
    capacityInput.value ? capacityInput.value.toString() : '0',
    categoryInput.value ? categoryInput.value : '',
    priceInput.value ? priceInput.value.toString() : '9999',
    rateInput.value ? rateInput.value.toString() : '0')">Apply Filters</button>

      </div>
    </div>
  </div>
</div>
