<div class="container my-5 shadow p-sm-2 p-md-4 p-lg-5 col-lg-10 col-md-8 col-sm-9">
    <section>
        <h4 class="mb-3">
            Welcome to EventLy !

        </h4>
        <p>
            Welcome to our premier event place reservation platform! Explore our diverse selection of venues tailored to
            your unique needs. With transparent pricing, seamless booking, and exceptional customer service, we're here
            to make your event planning journey unforgettable. Let's create memorable experiences together!</p>
    </section>

</div>

<div class="container my-5  p-sm-2 p-md-4 p-lg-5 col-lg-10 col-md-8 col-sm-9">
    <article>
        <h4 class="mb-4">
            Evently Founded By : </h4>

    </article>
    <div class="container mb-4 ">
        <div class="row justify-content-center gx-0">


            <div
                class=" col-xl-3 col-lg-4 col-md-6 col-sm-6 d-flex flex-column align-items-center justify-content-center  ">
                <img src="../../../assets/images/" class="rounded-circle mb-2 img-circle" alt="Card title"
                    style="max-width: 100px" />
                <h4 class="mb-3">Ahmed Safwat </h4>
            </div>
            <div
                class="col-xl-3 col-lg-4 col-md-6 col-sm-6  d-flex flex-column align-items-center justify-content-center ">
                <img src="../../../assets/images/WhatsApp Image 2024-04-06 at 14.46.49_1ad79adc.jpg" class="rounded-circle mb-2 img-circle" alt="Card title"
                    style="max-width: 100px" />
                <h4 class=" mb-3">Al-Safi Abu Saad</h4>
            </div>
            <div
                class="col-xl-3 col-lg-4 col-md-6 col-sm-6  d-flex flex-column align-items-center justify-content-center ">
                <img src="../../../assets/images/WhatsApp Image 2024-04-06 at 15.13.59_1e8893bf.jpg" class="rounded-circle mb-2 img-circle" alt="Card title"
                    style="max-width: 100px" />
                <h4 class="mb-3">Mustafa Mahmoud</h4>
            </div>
            <div
                class="col-xl-3 col-lg-4 col-md-6 col-sm-6 d-flex flex-column align-items-center justify-content-center">
                <img src="../../../assets/images/WhatsApp Image 2024-04-06 at 14.52.47_e1f63321.jpg" class="rounded-circle mb-2 img-circle" alt="Card title"
                    style="max-width: 100px" />
                <h4 class="mb-3">Amany Adel </h4>
            </div>

            <div
                class="col-xl-3 col-lg-4 col-md-6 col-sm-6 d-flex flex-column align-items-center justify-content-center ">
                <img src="../../../assets/images/WhatsApp Image 2024-04-06 at 14.53.10_52338544.jpg" class="rounded-circle mb-2 img-circle " alt="Card title"
                    style="max-width: 100px" />
                <h4 class="mb-3">Esraa Dwidar</h4>
            </div>
            <div
                class=" col-xl-3 col-lg-4 col-md-6 col-sm-6 d-flex flex-column align-items-center justify-content-center ">
                <img src="../../../assets/images/WhatsApp Image 2024-04-06 at 14.56.51_f8dd9929.jpg" class="rounded-circle mb-2 img-circle " alt="Card title"
                    style="max-width: 100px" />
                <h4 class="mb-3">Tasneem Alaa </h4>
            </div>
            <div
                class="col-xl-3 col-lg-4 col-md-6 col-sm-6   d-flex flex-column align-items-center justify-content-center  ">
                <img src="../../../assets/images/WhatsApp Image 2024-04-06 at 14.22.49_3063c8a5.jpg" class="rounded-circle mb-2 img-circle" alt="Card title" />
                <h4 class="mb-3">Asmaa Lotfy</h4>
            </div>
        </div>
    </div>
</div>












<section>
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3 g-4  ">
            <div class="col  ">
                <div class="card p-2 h-100 hoverable shadow border border-gray">
                    <div class="row g-0">

                        <div class="col">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h4 class="card-title">Vision </h4>
                                <p class="card-text">
                                    Our vision is to revolutionize event planning by offering a seamless platform that
                                    connects users with their ideal venues. We aspire to be the go-to destination for
                                    event organizers, providing a diverse selection of venues, transparent information,
                                    and exceptional service. Together, we'll create unforgettable experiences for every
                                    occasion.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-2 h-100 hoverable shadow border border-gray">
                    <div class="row g-0">

                        <div class="col">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h4 class="card-title "> Our Goal </h4>
                                <p class="card-text">
                                    Efficiently provide a diverse selection of event venues with transparent information
                                    and user-friendly booking. Prioritize customer satisfaction through seamless
                                    communication, trustworthiness, and continual innovation. Ensure accessibility and
                                    personalization for a positive and memorable experience in planning and executing
                                    event

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-2 h-100 hoverable shadow border border-gray">
                    <div class="row g-0">

                        <div class="col">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h4 class="card-title ">Mission</h4>
                                <p class="card-text">
                                    Our mission is to simplify event planning by providing a comprehensive platform that
                                    empowers users to discover and book the perfect venues effortlessly. We are
                                    dedicated to offering a wide range of options, transparent pricing, and exceptional
                                    customer service, ensuring a seamless and stress-free experience for every event
                                    organizer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="container shadow border border-gray hoverable my-5 text-center shadow p-sm-2 p-md-4 p-lg-5 col-lg-10 col-md-8 col-sm-9">
        <section>
            <h4 class=" mb-3">
                What Made Us successful ?

            </h4>
            <p>Join us and be part of our dynamic team,
                <br /> where ead our employee stories ...!
            </p>
            <button type="button" class="btn btn-success rounded m-2">
                Find More
            </button>
        </section>

    </div>



</section>















    





