.l-border{
    position: sticky;
    top: 0; 
    left: 0; 
    z-index: 1000; 
    width: 100%; 
    background-color: #fff ;

    @media screen and (max-width: 991px) {
        position: static;
    }

}


/* website btn COlor  */
.Evently-btn {
    background-color: #ad4c04; /* Bootstrap primary color */
    border-color: #ad4c04; /* Border color */
    color: #fff; /* Text color */
  }