<div class="d-flex flex-column min-vh-100 justify-content-center">
    <div class="container p-4">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="card rounded shadow mb-3 mx-auto">
            <!--Here's the start of the form content itelf-->
  
            <div class="card-body text-center p-4 p-sm-5">
              <!--Dialouge above form-->
              <h4 class="card-title text p-sm-4">Forgot Your Password?</h4>
              <p class="card-text">
                Enter your e-mail below<br>to get your reset password code
              </p>
  
              <!--Form Input-->
              <form>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="text"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="abc123@mail.com"
                    aria-describedby="helpId"
                    required
                  />
                </div>
                <button
                  type="submit"
                  class="btn btn-lg rounded-pill btn-danger btn-block"
                >
                  <a class="text-decoration-none text-white" routerLink="../reset-password">Get Reset Password Code</a>
                </button>
              </form>
  
              <!--Sign In Routing Option-->
              <span>Or</span><br />
              <div class="text-center">
                <span>Sign in with another account</span>
                <a class="text-decoration-none" routerLink="../login">
                  Sign In <i class="fa fa-sign-in" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  