<div class="d-flex flex-column min-vh-90 justify-content-center">
  <div class="container p-4">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-5 col-sm-10">
        <div class="card rounded shadow mb-3 mx-auto">
          <div class="card-body text-center p-4 p-sm-5">
            <h4 class="card-title text p-sm-4">Forgot Your Password?</h4>
            <p class="card-text fw-semibold">
              Enter your e-mail below<br />to get your reset password code
            </p>

            <form
              [formGroup]="ForgotPassForm"
              (ngSubmit)="onSubmit(ForgotPassForm)"
            >
              <div class="container">
                <div class="p-sm-2 text-start">
                  <label for="email" class="form-label">Your E-Mail</label>
                  <input
                    formControlName="TargetEmail"
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Enter Your E-Mail"
                    required
                  />
                  <small
                    class="text-danger"
                    *ngIf="ForgotPassForm.get('TargetEmail')?.errors?.['required']"
                  >
                    Email is required </small
                  ><br />
                  <small class="text-danger" *ngIf="ForgotPassForm.get('TargetEmail')?.errors?.['email']">
                    Please enter a valid email address
                  </small>
                </div>

                <button
                  type="submit"
                  class="btn btn-lg rounded-pill btn-danger mt-3"
                  [disabled]="ForgotPassForm.invalid"
                >
                  Get Reset Password Code
                </button>
              </div>
            </form>

            <article class="mt-2">
              <span>Or</span><br />
              <div class="text-center">
                <span>Sign in with another account</span>
                <a class="text-decoration-none" routerLink="../Login">
                  Sign In <i class="fa fa-sign-in" aria-hidden="true"></i>
                </a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
