<div class="container py-5">
    
    <div class="d-flex align-items-center justify-content-center "  >

        <div class="SignCard d-flex align-items-center justify-content-center">
            <div style="width: 300px;" class="SignImage d-none d-lg-block">
                <img class="w-100 h-100" src="../../../../assets/Imgs/Sign up img.jpg" alt="">
            </div>

            <div class="SignForm mx-2 px-4">
                <h2>Sign Up</h2>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <!-- *ngIf="registerForm.value.Role =='Client'; else SubmitHostRegisterForm -->
                <form class="Signup-Form" (ngSubmit)="SubmitClientRegisterForm(registerForm)" [formGroup]="registerForm">
                    <!-- for first Name -->
                    <div class="row">
                        <div class="col-md-6">
                            <label for="FirstName">FirstName: </label>
                            <input formControlName="FirstName" type="text" class="form-control mb-2 input-mine">
                            <div *ngIf="registerForm.get('FirstName')?.errors && registerForm.get('FirstName')?.touched" class="alert-danger">
                                <p class="m-0" *ngIf="registerForm.get('FirstName')?.getError('required')">FirstName is required</p>
                                <p class="m-0" *ngIf="registerForm.get('FirstName')?.getError('minlength')">FirstName is less than 3 Char</p>      
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="LastName">LastName: </label>
                            <input formControlName="LastName" type="text" class="form-control mb-2 input-mine">
                    
                            <div *ngIf="registerForm.get('LastName')?.errors && registerForm.get('LastName')?.touched" class="alert-danger">
                                <p class="m-0" *ngIf="registerForm.get('LastName')?.getError('required')">LastName is required</p>
                                <p class="m-0" *ngIf="registerForm.get('LastName')?.getError('minlength')">LastName is less than 3</p>      
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="Email">Email: </label>
                        <input formControlName="Email" type="Email" class="form-control mb-2 input-mine">
                        <div *ngIf="registerForm.get('Email')?.errors && registerForm.get('Email')?.touched" class="alert-danger">
                            <p class="m-0" *ngIf="registerForm.get('Email')?.getError('required')">Email is required</p>
                            <p class="m-0" *ngIf="registerForm.get('Email')?.getError('Email')">Email format is invalid</p>      
                        </div>
                    </div>
                    <div>
                        <label for="Password">Password: </label>
                        <input formControlName="Password" type="Password" class="form-control mb-2 input-mine">
                        <div *ngIf="registerForm.get('Password')?.errors && registerForm.get('Password')?.touched" class="alert-danger">
                            <p class="m-0" *ngIf="registerForm.get('Password')?.getError('required')">Password is required</p>      
                        </div>
                    </div>

                    <!-- <div>
                        <label for="confirmPassword">confirmPassword: </label>
                        <input formControlName="confirmPassword" type="password" class="form-control mb-2 input-mine">
                
                        <div *ngIf="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched" class="alert-danger">
                            <p class="m-0" *ngIf="registerForm.get('confirmPassword')?.getError('required')">ConfirmPassword is required</p>      
                        </div>
                    </div> -->
                    
                    <div>
                        <label for="RoleName">Choose a RoleName: </label>&nbsp;
                        <select name="RoleName" id="RoleName">
                            <option value="Host">Host</option>
                            <option value="Client">Client </option>
                        </select>
                        <div *ngIf="registerForm.get('RoleName')?.errors && registerForm.get('RoleName')?.touched" class="alert alert-danger">
                            <p class="m-0" *ngIf="registerForm.get('RoleName')?.getError('required')">RoleName is required</p>   
                        </div>
                    </div>
                
                    <button [disabled] ="registerForm.invalid" type="submit" class="btn btn-success my-3 w-100">
                        <span *ngIf="!isLoading">SignUp</span>
                        <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                    </button>
                    <div class="text-center">
                        <p>Already Have Acoount ? <span class="Login" routerLink="/Login">Login</span></p>
                    </div>
                
                </form>
                
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #SubmitHostRegisterForm >
    <form class="Signup-Form" *ngIf="registerForm.value == ''" (ngSubmit)="SubmitHostregisterForm(registerForm2)" [formGroup]="registerForm2">
        <-- for first Name ->
        <div class="row">
            <div class="col-md-6">
                <label for="firstName">firstName: </label>
                <input formControlName="first_name" type="text" class="form-control mb-2 input-mine">
                <div *ngIf="registerForm2.get('firstName')?.errors && registerForm2.get('firstName')?.touched" class="alert-danger">
                    <p class="m-0" *ngIf="registerForm2.get('firstName')?.getError('required')">firstName is required</p>
                    <p class="m-0" *ngIf="registerForm2.get('firstName')?.getError('minlength')">firstName is less than 3 Char</p>      
                </div>
            </div>
            <div class="col-md-6">
                <label for="lastName">lastname: </label>
                <input formControlName="lastName" type="text" class="form-control mb-2 input-mine">
        
                <div *ngIf="registerForm2.get('lastName')?.errors && registerForm2.get('lastName')?.touched" class="alert-danger">
                    <p class="m-0" *ngIf="registerForm2.get('lastName')?.getError('required')">lastName is required</p>
                    <p class="m-0" *ngIf="registerForm2.get('lastName')?.getError('minlength')">lastName is less than 3</p>      
                </div>
            </div>
        </div>
        <div>
            <label for="email">Email: </label>
            <input formControlName="email" type="email" class="form-control mb-2 input-mine">
            <div *ngIf="registerForm2.get('email')?.errors && registerForm2.get('email')?.touched" class="alert-danger">
                <p class="m-0" *ngIf="registerForm2.get('email')?.getError('required')">Email is required</p>
                <p class="m-0" *ngIf="registerForm2.get('email')?.getError('email')">Email format is invalid</p>      
            </div>
        </div>
        <div>
            <label for="password">Password: </label>
            <input formControlName="Password" type="password" class="form-control mb-2 input-mine">
            <div *ngIf="registerForm2.get('Password')?.errors && registerForm2.get('Password')?.touched" class="alert-danger">
                <p class="m-0" *ngIf="registerForm2.get('Password')?.getError('required')">Password is required</p>      
            </div>
        </div>

        <-- <div>
            <label for="confirmPassword">confirmPassword: </label>
            <input formControlName="confirmPassword" type="password" class="form-control mb-2 input-mine">
    
            <div *ngIf="registerForm2.get('confirmPassword')?.errors && registerForm2.get('confirmPassword')?.touched" class="alert-danger">
                <p class="m-0" *ngIf="registerForm2.get('confirmPassword')?.getError('required')">ConfirmPassword is required</p>      
            </div>
        </div> >
        
        <div>
            <label for="RoleName">Choose a RoleName: </label>&nbsp;
            <select name="RoleName" id="RoleName">
                <option value="Host">Host</option>
                <option value="Client">Client<option>
            </select>
            <div *ngIf="registerForm2.get('RoleName')?.errors && registerForm2.get('RoleName')?.touched" class="alert alert-danger">
                <p class="m-0" *ngIf="registerForm2.get('RoleName')?.getError('required')">RoleName is required</p>   
            </div>
        </div>
    
        <button [disabled] ="registerForm2.invalid" type="submit" class="btn btn-success my-3 w-100">SignUp</button>
        <div class="text-center">
            <p>Already Have Acoount ? <span class="Login" routerLink="/Login">Login</span></p>
        </div>
    
    </form>
</ng-template> -->