<div class="container ps-4 pe-4">
    <!--booking details-->
    
    <p class="d-flex text-start fw-normal fs-4 mt-2">Places Details</p>
    <table class="table table-bordered">
    <thead >
      <tr class="text-bg-secondary text-light text-center">
      <th>period</th>
      <th>place name</th>
      <th>category</th>
      <th>date</th>
      <th>location</th>
      <th>size</th>
    </tr>
    </thead>
    <tbody class=" text-center">
      <tr>
        <td>Night</td>
        <td>palme</td>
        <td>Birthday</td>
        <td>16 Feb 2024</td>
        <td>Alexandria, Egypt</td>
        <td>50 person</td>
      </tr>
    </tbody>
    </table>
</div>
    