<!--start wrapper-->
<div class="d-flex flex-column min-vh-100 justify-content-center bg">
  <div class="container p-4">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-8 col-sm-10">
        <div class="mb-3 mx-auto">
          <div class="card rounded shadow text-center p-4 p-sm-5">
            <!-- Form Header -->
            <div class="d-flex flex-column p-2 m-2 rounded bg-light">
              <h4 class="text p-sm-4 text-danger">
                Add a New Property to
                <span class="text-danger fw-bold">Event.ly</span>
              </h4>
              <p class="fw-semibold">
                Enter the details of your property below
              </p>
            </div>

            <!--Start Form-->
            <form (ngSubmit)="AddPlaces(AddPlaceForm)" [formGroup]="AddPlaceForm">
              <div class="container">
                <div class="p-sm-2 text-start">
                  <!-- Property Name-->
                  <div class="mb-3">
                    <label for="Name" class="form-label">Name</label>
                    <input
                      type="text"
                      name="Name"
                      id="PlaceName"
                      class="form-control"
                      formControlName="Name"
                      placeholder="Your Property Name"
                      aria-describedby="helpId"
                    />
                    <div class="d-flex text-danger flex-column">
                      <small
                        *ngIf="AddPlaceForm.get('Name')?.errors?.['required'] || AddPlaceForm.get('Name')?.errors?.['minLength']"
                      >
                        Name is required and must be at least 3 characters long.
                      </small>
                    </div>
                  </div>

                  <!-- Place Images -->
                  <div class="mb-3">
                    <label for="files" class="form-label">files</label>
                    <input
                      type="file"
                      accept="files/*"
                      name="files"
                      id="PlaceImages"
                      class="form-control"
                      formControlName="files"
                      aria-describedby="helpId"
                      (change)="onFilesSelected($event)"
                      (drop)="onFileDrop($event)"
                      multiple
                    />
                    <div class="d-flex flex-column text-danger">
                      <small
                        *ngIf="AddPlaceForm.get('files')?.errors?.['required']"
                      >
                        Uploading 5 images at least is required</small
                      >
                    </div>
                  </div>

                  <!-- Images Preview -->
                  <label for="imagesPreview">Images Preview</label>
                  <div class="imagesPreview my-2 bg-light">
                    <div class="imageWrapper justify-content-center d-flex">
                      <img
                        *ngFor="let previewUrl of previewUrls; let i = index"
                        [src]="previewUrl"
                        alt="Image Preview"
                        class="rounded img-thumbnail col-lg-4 col-md-4 col-sm-4"
                      />
                    </div>
                  </div>

                  <!-- Location iframe -->
                  <div style="width: 100%">
                    <small class="text-muted">
                      Click on view larger map in the frame below to get the location of your place as a link and
                      copy it in location input.
                    </small>
                    <iframe
                      width="100%"
                      height="480"
                      frameborder="0"
                      scrolling="no"
                      marginheight="0"
                      marginwidth="0"
                      src="https://maps.google.com/maps?width=100%25&amp;height=480&amp;hl=en&amp;q=Alexandria,%20Egypt.+(Evently)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                    ></iframe>
                  </div>

                  <!-- Place Location -->
                  <div class="mb-3">
                    <label for="Location" class="form-label"
                      >Location</label
                    >
                    <input
                      type="text"
                      name="Location"
                      id="PlaceLocation"
                      class="form-control"
                      formControlName="Location"
                      placeholder="Your Property's Location"
                      aria-describedby="helpId"
                    />
                    <div class="d-flex text-danger flex-column">
                      <small
                        *ngIf="AddPlaceForm.get('Location')?.errors?.['required']"
                      >
                        Location is required </small
                      ><br />
                      
                    </div>
                  </div>

                  <!-- Place Description -->
                  <div class="mb-3">
                    <label for="Description" class="form-label"
                      >Description</label
                    >
                    <textarea
                      class="form-control"
                      name="Description"
                      formControlName="Description"
                      id="PlaceDescription"
                      placeholder="Write a short description of the place..."
                    ></textarea>

                    <small
                      class="text-danger"
                      *ngIf="AddPlaceForm.get('Description')?.errors?.['required']"
                    >
                      Description is required
                    </small>

                    <small>
                      1000 characters at max, this will be shown in search
                      results.
                    </small>
                  </div>
                  <!-- Property Price -->
                  <div class="mb-3">
                    <label for="Price" class="form-label">Price</label>
                    <input
                      type="number"
                      name="Price"
                      id="PlacePrice"
                      class="form-control"
                      formControlName="Price"
                      placeholder="Your Property's Location"
                      aria-describedby="helpId"
                    />
                    <small
                      class="text-danger"
                      *ngIf="AddPlaceForm.get('Price')?.errors?.['required']"
                    >
                      Property Price is required
                    </small>
                  </div>
                  <!-- Category -->
                  <div class="mb-3">
                    <label for="CategoryName">Choose Place Category</label>
                    <select
                      title="Choose Place Category"
                      class="form-control"
                      id="PlaceCategory"
                      name="CategoryName"
                      formControlName="CategoryName"
                    >
                      <option value="Cat1">Select a Category</option>
                      <option value="Cat2">Action</option>
                      <option value="Cat3">Disabled (Optional)</option>
                    </select>
                    <small
                      class="text-muted"
                      *ngIf="AddPlaceForm.get('CategoryName')?.errors?.['required']"
                    >
                      Selecting the category of your property from the list
                      provided is required.
                    </small>
                  </div>
                  <!-- Capacity -->
                  <div class="mb-3">
                    <label for="" class="form-label">Capacity</label>
                    <input
                      type="number"
                      name="PeopleCapacity"
                      id="PlaceCapacity"
                      class="form-control"
                      formControlName="PeopleCapacity"
                      placeholder="999"
                      aria-describedby="helpId"
                    />
                    <small
                      class="text-danger"
                      *ngIf="AddPlaceForm.get('PeopleCapacity')?.errors?.['required']"
                    >
                      Place capacity is required
                    </small>
                  </div>
                </div>
              </div>
              <!-- Reset Button -->
              <div class="d-flex justify-content-end mt-4">
                <button
                  type="button"
                  class="btn btn-danger rounded mt-4"
                  (click)="resetForm()"
                >
                  Reset Form
                </button>
              </div>
              <!-- Submit Button -->
              <div class="d-flex justify-content-end mt-4">
                <button
                  type="submit"
                  class="btn btn-danger rounded mt-4"
                  [disabled]="AddPlaceForm.invalid"
                >
                  Submit Request
                </button>
              </div>
            </form>
            <!--end of form-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
