#PlaceImages {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url('../../../../assets/Imgs/skyline_269947.png'); /* Replace with your image path */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 360px;
  }
  