.bg{
  background-image: url(../../../../assets/Imgs/hero1.jpg);
}

/* #formHeader{
  background-image: linear-gradient(to bottom, rgba(62, 62, 62, 0.555), rgb(206, 206, 206));
} */

#PlaceImages {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .imagesPreview{
    
    padding: 10px 20px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    width: 100%;
    min-height: 180px;
    min-width: 80%;
  }

  .imageWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid black;
    min-height: 160px;
    min-width: 80%;
  }

  .imageWrapper img{
    z-index: 10;
  }
  
