<div class="Card mx-3 my-3" routerLink="/PlaceDetails:id">
  <div class="Images">
    <swiper-container [navigation]="{ nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' }" [pagination]="{ clickable: true }">
      <ng-container  *ngFor="let Img of CarImg; let i = index">
        <swiper-slide class="Slider"><img class="Images w-100 h-100" [src]="Img" alt=""></swiper-slide>
      </ng-container>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper-container>
  </div>

  <div class="px-2 mt-2 d-flex justify-content-between align-items-baseline">
    <h5 class="title">Lorem ipsum dolor</h5>

    <div class="Rate">
      <i class="fa-solid fa-star"></i>
        <h6 class="mx-1">3.5</h6>
    </div>
  </div>

<div class="disc px-2">
<p style="color:gray;">Lorem ipsum dolor, sit amet </p>
</div>

<div class="px-2">
  <h5 class="price">$300</h5>
  </div>


<div class="fav" (click)="toggleMenu()">
  <i style="font-size: 25px;"
  [style.color]="isfav ? 'red' : '#FFFF'"
  class="fa-solid fa-heart"></i>
</div>


</div>
