          <!-- <div class="container my-5 p-3 shadow col">
                <div class="row ">
                    <div class="col-6 ">
                        <h4 class=" mb-3" style="font-weight: 700;">
                            Basic information
                        </h4>
                    </div>
                    <div class="col-1 offset-2">
                        <a href="" class="text-decoration-none">Edit</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 ">
                        <h6 class=" mb-3" style="font-weight: 600;">
                            Full Name
                        </h6>
                        <p>Anna Carolina </p>
                    </div>
                    <div class="col-4 ">
                        <h6 class=" mb-3" style="font-weight: 600;">
                            Date of birth
                        </h6>
                        <p>Not provided </p>
                    </div>
                    <div class="col-4 ">
                        <h6 class=" mb-3" style="font-weight: 600;">
                            Bio
                        </h6>
                        <p>Not provided</p>
                    </div>
                    <div class="col-4 ">
                        <h6 class=" mb-3" style="font-weight: 600;">
                            Disability
                        </h6>
                        <p>None </p>
                    </div>
                    <div class="col-4 ">
                        <h6 class=" mb-3" style="font-weight: 600;">
                            Accessibility needs
                        </h6>
                        <p>Not provided </p>
                    </div>
                    <div class="col-4 ">
                        <h6 class=" mb-3" style="font-weight: 600;">
                            Gender
                        </h6>
                        <p>Not provided </p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-6 ">
                        <h4 class=" mb-3 " style="font-weight: 600;">
                            contact
                        </h4>
                    </div>
                    <div class="col-1 offset-2">
                        <a href="" class="text-decoration-none">Edit</a>
                    </div>
                    <div class="mb-3">
                        <p>Receive account activity alerts and trip updates by sharing this information. </p>
                    </div>
                </div>

                <div class="row  ">
                    <div class="col-xl-4">
                        <h6 class=" mb-3" style="font-weight: 600;">
                            Mobile number
                        </h6>
                        <p>Not provided </p>
                    </div>
                    <div class="col-xl-4 offset-xl-4  ">
                        <h6 class=" mb-3" style="font-weight: 600;">
                            Email
                        </h6>
                        <p>Annacarolinagmail.com</p>
                    </div>
                    <div class="col-xl-4 ">
                        <h6 class=" mb-3" style="font-weight: 600;">
                            Emergency contact
                        </h6>
                        <p>Not provided </p>
                    </div>
                    <div class="col-xl-4   offset-xl-4 ">
                        <h6 class=" mb-3" style="font-weight: 600;">
                            Address
                        </h6>
                        <p>Not provided</p>
                    </div>
                </div>
            </div>
 -->


 <div class="container my-5 p-3 shadow col">
    <div class="row">
        <div class="col-6">
            <h4 class="mb-3" style="font-weight: 700;">Profile Information</h4>
        </div>
        <div class="col-1 offset-5">
            <a href="#" class="text-decoration-none">Edit</a>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h6 class="mb-3" style="font-weight: 600;">First Name</h6>
            <p>{{ ProfileData.firstName }}</p>
        </div>
        <div class="col-4">
            <h6 class="mb-3" style="font-weight: 600;">Last Name</h6>
            <p>{{ ProfileData.lastName }}</p>
        </div>
        <div class="col-4">
            <h6 class="mb-3" style="font-weight: 600;">Bio</h6>
            <p>{{ ProfileData.bio || 'Not provided' }}</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-6">
            <h4 class="mb-3" style="font-weight: 700;">Contact</h4>
        </div>
        <div class="col-1 offset-5">
            <a href="#" class="text-decoration-none">Edit</a>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h6 class="mb-3" style="font-weight: 600;">Mobile Number</h6>
            <p>{{ ProfileData.phone || 'Not provided' }}</p>
        </div>
        <div class="col-4">
            <h6 class="mb-3" style="font-weight: 600;">Email</h6>
            <p>{{ ProfileData.email || 'Not provided' }}</p>
        </div>
        <div class="col-4">
            <h6 class="mb-3" style="font-weight: 600;">Address</h6>
            <p>{{ ProfileData.address || 'Not provided' }}</p>
        </div>
    </div>
</div>
