<div class="container ">
    <div class="row ">
        <div class="container my-5 col-md-3  ">
            <div class="col ">
                <section class="bg-white ">
                    <h4 class=" mb-3 ">
                        Hi, Anna
                    </h4>
                    <p >Annacarinnagmail.com </p>
                </section>
                <p>Manage your profile, rewards, and preferences
                        for all our brands in one place.</p>
                <section class="mb-3">
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-light dropdown-toggle width" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-regular fa-user"></i> Profile
                        </button>
                        <ul class="dropdown-menu">
                            <!-- Dropdown menu links -->
                        </ul>
                    </div>
                </section>
                <section class="mb-3">
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-light dropdown-toggle width" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-regular fa-credit-card"></i> Payment
                        </button>
                        <ul class="dropdown-menu">
                            <!-- Dropdown menu links -->
                        </ul>
                    </div>
                </section>
                <section class="mb-3">
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-light dropdown-toggle width" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-circle-question"></i> Help
                        </button>
                        <ul class="dropdown-menu">
                            <!-- Dropdown menu links -->
                        </ul>
                    </div>
                </section>
                <section class="mb-3">
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-light dropdown-toggle width" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-gear"></i> Setting
                        </button>
                        <ul class="dropdown-menu">
                            <!-- Dropdown menu links -->
                        </ul>
                    </div>
                </section>
                <section class="bg-white">
                    <button class="btn  btn-outline-none ">SignOut</button>
                </section>
            </div>
        </div>















        <!--Lift Side-->
        <div class="col-md-9 ">
            <div class="container my-5 p-3 shadow col">
                <div class="row ">
                    <div class="col-6 ">
                        <h4 class=" mb-3 ">
                            Basic information
                        </h4>
                    </div>
                    <div class="col-1 offset-2">
                        <a href="" class="text-decoration-none">Edit</a>
                    </div>
                    <div class="mb-3">
                        <p>Make sure this information matches your travel ID, like your passport or license. </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 ">
                        <h6 class=" mb-3">
                            Full Name
                        </h6>
                        <p>Anna Carolina </p>
                    </div>
                    <div class="col-4 ">
                        <h6 class=" mb-3">
                            Date of birth
                        </h6>
                        <p>Not provided </p>
                    </div>
                    <div class="col-4 ">
                        <h6 class=" mb-3">
                            Bio
                        </h6>
                        <p>Not provided</p>
                    </div>
                    <div class="col-4 ">
                        <h6 class=" mb-3">
                            Disability
                        </h6>
                        <p>None </p>
                    </div>
                    <div class="col-4 ">
                        <h6 class=" mb-3">
                            Accessibility needs
                        </h6>
                        <p>Not provided </p>
                    </div>
                    <div class="col-4 ">
                        <h6 class=" mb-3">
                            Gender
                        </h6>
                        <p>Not provided </p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-6 ">
                        <h4 class=" mb-3 ">
                            contact
                        </h4>
                    </div>
                    <div class="col-1 offset-2">
                        <a href="" class="text-decoration-none">Edit</a>
                    </div>
                    <div class="mb-3">
                        <p>Receive account activity alerts and trip updates by sharing this information. </p>
                    </div>
                </div>

                <div class="row  ">
                    <div class="col-xl-4">
                        <h6 class=" mb-3">
                            Mobile number
                        </h6>
                        <p>Not provided </p>
                    </div>
                    <div class="col-xl-4 offset-xl-4  ">
                        <h6 class=" mb-3">
                            Email
                        </h6>
                        <p>Annacarolinagmail.com</p>
                    </div>
                    <div class="col-xl-4 ">
                        <h6 class=" mb-3">
                            Emergency contact
                        </h6>
                        <p>Not provided </p>
                    </div>
                    <div class="col-xl-4   offset-xl-4 ">
                        <h6 class=" mb-3">
                            Address
                        </h6>
                        <p>Not provided</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






